body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}
#PageContainer {
  width: 970px;
  margin: 10px;
  overflow: auto;
}
#PageContainer > header {
  float: left;
  overflow: auto;
}
#PageContainer > header h1 {
  font-size: 2.0em;
}
#PageContentContainer {
  clear: both;
  overflow: auto;
}
#PageContentContainer > table {
  table-layout: fixed;
}
#PageContentContainer > table thead {
  background-color: #f2c9cc;
  padding: 3px;
}
#PageContentContainer > table thead tr td#name {
  width: 150px;
}
#PageContentContainer > table thead tr td#id {
  width: 40px;
}
#PageContentContainer > table thead tr td#ip {
  width: 120px;
}
#PageContentContainer > table thead tr td#mac {
  width: 150px;
}
#PageContentContainer > table tbody td.bad {
  color: #db3814;
}
#PageContentContainer > table tbody td.good {
  color: #518f25;
}
